/*  Header  */
header
    height: 285px
    .topMenu
        background-color: #353535
        height: 64px
        color: #ffffff
        .topMenu_item_1-phone img
            width: 15px
            height: 15px
            margin-top: 5px
        .topMenu_item_1-phone p
            margin-left: 14px
        .topMenu_item_1-contact
            margin-left: 84px
        .topMenu_item_1-contact img
            width: 16px
            height: 26px
        .topMenu_item_1-contact p
            margin-left: 16px
header>.topMenu>.container
    padding-top: 17px
    padding-left: 0px
    padding-right: 0px
.topMenu_item_2 
    p
        &:first-child
            margin-right: 61px
.downMenu_item-menu
    width: 74%;
    height: 2em;
    margin-top: 69px;
    margin-left: -26px;
    a
        color: #232323
        margin: 0 -87px
.downMenu_item-search
    a
        &:first-child
            position: relative;
            width: 26px
            height: 26px
            top: 71px
            right: 38px
        &:last-child            
            position: relative;
            width: 26px
            height: 27.18px
            top: 72px
            left: 34px
hr
    width: 1300px
    border: 1px solid rgba(35, 35, 35, 0.12)
/* End Header  */