.wrappers
    min-height: 1600px
/* Вкладк на страницы выбор доставки */
.content_basket_delivery-tables-item
    p
        color: black
//Стили для общего блока где находятся вкладки
#tab
    width: 1140
    height: 1762
    background-color: #E2E2E2
//Скрываем инпуты
#tab>input
    display: none
//Стили для лейблов
#tab>label
    &:hover
        background-color: #575656
#tab>label
    cursor: pointer
    display: block
    background-color: #ffffff
    float: left
    padding: 5px 10px
    margin-right: 5px
    border-radius: 5px
    border: 1px solid #575656
//Отменяет обтекание блока с id=table
#table
    clear: both
.content_basket_delivery-tables
   min-height: 1600 !important
//Стили для блоков находящихся внутри лока с id=table
#table>.content_basket_delivery-tables-item
    background-color: #d4cbcb
    position: absolute
    width: 1140px
    padding: 15px
    overflow: hidden
    height: 155px
    border-radius: 0 5px 5px
    opacity: 0
//Стили для для блоков находящихся в локе с id=table если лейбл checked
#n1:checked ~ #table>div:nth-of-type(1),
#n2:checked ~ #table>div:nth-of-type(2)
    opacity: 1
    height: 500px
#tab >input:checked + label 
    color: #333333
    background-color: #575656