body
    background-color: #F2F2F2
.content_basket
    h4,h3,h2,h1,a,p
        color: #232323
/* Страница basket-delivery, выбор самовывоз или доставка */
.content_basket_prog_menu
    a
        color: #232323
        border-radius: 7px
        background-color: #c7c4c4;
        &:hover
            background-color: #e6e6e6
            border-color: #a0a0a0
    h5
        display: block
        border: 2px solid #232323
        border-radius: 7px
        width: 171px
        height: 54px
        font-size: 20px
        margin-bottom: 0px
        text-align: center
        padding-top: 11px
.content_basket_prog_menu
    margin-top: 44px
    margin-left: 44px
    margin-bottom: 72px
    object
        margin-left: 7px
        margin-right: 10px

.wrappers
    min-height: 600px
    margin-top: 30px
.content_basket_delivery-tables-item
    p
        color: black
//Стили для общего блока где находятся вкладки
.content_basket_delivery-tables
    input
        background: #FFFFFF
        border: 2px solid #232323
        box-sizing: border-box
        border-radius: 3px
        text-align: center
        font-size: 17px
#tab
    width: 1140
    height: 1762
//Скрываем инпуты
#tab>input
    display: none
//Стили для лейблов
#tab>label
    &:hover
        background-color: #fdfdfd
        color: #5d5c5c
#tab>label
    cursor: pointer
    display: block
    background-color: #efefef
    float: left
    padding: 5px 10px
    margin-right: 5px
    border-radius: 5px 5px 0px 0px
    border: 2px solid #e0e0e0
    border-bottom: 0px
    margin-bottom: 0px
    color: #a0a0a0
//Отменяет обтекание блока с id=table
#table
    clear: both
.content_basket_delivery-tables
    min-height: 1600 !important
//Стили для блоков находящихся внутри лока с id=table
#table>.content_basket_delivery-tables-item
    background-color: #E2E2E2
    position: absolute
    width: 1140px
    padding: 15px
    overflow: hidden
    height: 155px
    border-radius: 0 5px 5px
    opacity: 0
    display: none
//Стили для для блоков находящихся в локе с id=table если лейбл checked
#n1:checked ~ #table>div:nth-of-type(1),
#n2:checked ~ #table>div:nth-of-type(2)
    opacity: 1
    height: 500px
    display: block
#tab >input:checked + label
    color: #333333
    background-color: #E2E2E2

.content_basket_delivery-tables-item-name
    margin-left: 50px
    p
        margin-top: 29px
    span
        margin-left: 50px
        color: #787676
.content_basket_delivery-tables-item-date
    margin-left: 50px
    margin-top: 32px
    input
        margin-left: 34px
        height: 40px
    h5
        margin-bottom: 0px
        padding-top: 5px

.content_basket_delivery-tables-item-whois
    margin-top: 36px
    margin-left: 50px
    width: 22%
    input
        margin-top: 25px
        width: 252px
        height: 40px
.content_basket_delivery-tables-item-btn
    float: right
    margin-right: 21em
    margin-top: -4em
    input
        width: 295px
        height: 66px
        background-color: #283B40
        color: #ffffff
        border: none
        font-size: 30px
        padding-bottom: 6px
.content_basket_delivery-tables-item-dket
    height: 37px
    h5
        padding-top: 4px
        padding-right: 7px
        padding-left: 5px
.content_basket_delivery-tables-item-location
    input
        height: 40px
.content_back_button
    .item-1
        position: relative
        bottom: 30px
        left: 7px
    .item-2
        position: relative
        bottom: 25px
        left: 12px
.content_back_button
    position: relative
    bottom: 30px
    img
        &:nth-child(1)
            padding-bottom: 5px;
            margin-left: 2px;
            margin-right: 15px;       
/* Конец, Стилей для basket-delivery*/
.content_basket_panel
    img
        width: 29px;
        height: 29px;
        margin-top: 13px;
        margin-left: 25px;

    h2
        font-size: 27px
        padding-left: 12px
        margin-top: -3px
.content_basket_panel_item_panel
    margin-top: 23px

.content_basket_panel_rectangle
    width: 834px
    height: 60px
    border: 2px solid #232323;
    box-sizing: border-box;
    border-radius: 3px;
    p
        color: #232323
        position: relative
        left: 100
        right: 222px;
        top: 14px;
.content_basket_selected-item
    margin-bottom: 15px
    img
        box-sizing: border-box
    p
        color: #232323
.content_basket_selected-item_description-item
    width: 228px
    height: 96
    margin-left: 29px
    a
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-decoration-line: underline;
        font-feature-settings: 'cpsp' on;
        color: #313436
    p
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
        color: #353434;
        margin-top: 20px
.content_basket_selected-item_quantity
    margin-top: 12px
    margin-left: 39px
    height: fit-content
    p 
        padding-top: 6px
        margin-left: 7px
    input
        width: 50px
        height: 37px
        font-size: 20px;
        font-weight: 600;
        text-align: center
.content_basket_selected-item_price
    height: fit-content
    margin-top: 12px
    margin-left: 34px
    font-size: 27px
    p
        color: #934949
    img
        width: 14px
        height: 19px
        margin-top: 10px;
        margin-left: 7px;
.delete
    margin-top: 48px
    margin-left: 44px
    height: 30px
    border: none
    background-color: #F2F2F2
    font-size: 17px
    font-weight: 600
    &:hover
        color: #6f6f6f
.content_basket_selected-item
    input[type="checkbox"] + label
        padding: 50px 30px 10px 30px
        cursor: pointer
.content_basket_panel_block-right
    margin-left: 15px
    margin-top: -13px
    h4
        font-size: 42px;
        line-height: 49px;
        align-items: center;
        margin-left: 52px
        margin-bottom: 29px
        color: #934949
    img
        height: fit-content
        width: 14px;
        height: 19px;
        margin-top: 21px;
        margin-left: 7px;
    input
        width: 252px;
        height: 76px;
        background-color: #283B40
        color: #ffffff
        border: none
        padding-bottom: 6px
        padding-left: 15px
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
//стили для basket-pay
input[type="radio"]:checked + label:before
    background-color: #232323
input[type="radio"] + label:before
    content: ""
    border: 4px solid #F2F2F2
    display: block
    width: 10px
    height: 10px
    width: 24px
    height: 24px
    float: left
    margin-right: 17px
    padding: 5px 5px 5px 5px;
    box-shadow: 0 0 0 1px #bfbfbf
    border-radius: 50%
.content_basket
    h4
        margin-left: 48px
.content_basket_pay
    overflow: hidden
    height: 22em
    margin-left: 48px
    margin-top: 34px
    input
        float: left
        clear: both
        display: none
    label
        float: left
        clear: both
        &::before
            margin-left: 2px;
            margin-top: 1px;
.down-btn
    margin-top: -7em
.content_basket_conform
    height: 300px
.content_basket_conform_total
    p
        margin-bottom: 0px
.content_basket_conform_price
    width: 937px
    margin-left: 82px
.content_basket_conform_total-sum,
.content_basket_conform_total-count
    height: fit-content
    margin-top: 17px
.content_basket_conform_total-count
    margin-left: 46px
.content_basket_conform_total-sum
    margin-right: 46px
    align-items: center
    img
        width: 10px

.content_basket_conform_price_count,
.content_basket_conform_price_sum
    height: fit-content
    p
        margin-bottom: 0px
.content_basket_conform_price_product-item
    align-items: center
    a
        display: block
        min-width: 20em
    p
        display: block
        height: fit-content
        margin-bottom: 0px
    img
        margin-left: 9px
        width: 10px
.conf
    margin-top: 4em
/* index.html */
.index-blocks
    .sales
        img
            100px
    button
        width: 243px
        height: 62px
        background: #283B40
        border: 0
        padding: 0
        font-family: OpenSuns, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 22px
        line-height: 26px
        text-align: center
        color: #FBFBFB
    h2
        font-family: OpenSuns, sans-serif
        font-style: normal
        font-weight: 600
        font-size: 48px
        line-height: 56px
        text-align: center
        text-transform: uppercase
        color: #232323
    
    p
        font-family: OpenSuns, sans-serif
        font-style: normal
        font-weight: 600
        font-size: 15px
        line-height: 18px
        text-align: center
        color: #3F3D3D
    img
        width: 100%
        // width: 285px
        // height: 280px

    
    .center
        width: 1140px
        margin: 0 auto

    .buttonTwo
        position: relative
        left: 16px

    .multiple-items
        height: 450px

    .multiple-items
        padding-left: 60px
        padding-right: 60px
    .slick-slide:focus
        outline: none

    .slick-arrow
        width: 85px
        height: 85px
        position: absolute
        top: 50%
        margin-top: -44px
        background-color: #f2f2f2
        border: none
        transition: background-color 0.3s ease
        text-indent: -9999px
        &:hover
            background-color: #f2f2f2
        &:focus
            outline: none
        &:before
            content: ''
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            background-position: center center
            background-repeat: no-repeat

        &:before
            background-image: url('../images/arrow-prev.svg')
            width: 64px
            height: 64px

        &.slick-next
            right: -104px
            &:before
                background-image: url('../images/arrow-next.svg')
                width: 64px
                height: 64px
        .review
            img
                margin: 0 auto
            p
                margin: 0 auto
        .btn
            position: relative
            left: 45px
            bottom: -20px

        .btn1, .btn2, .btn3
            position: relative
            left: 45px
            bottom: -4px

        .btn5
            position: relative
            left: 45px
        .tysklo
            color: #666363
            font-weight: 500

        .wrap
            padding-top: 250px
        .slick-slide
            img
                margin-left: 79px
        .review1
            img
                margin: 0 auto
                width: 1100px
                height: 650px
        .slick-slide
            img
                margin-left: 68px
.slick-prev
    left: 75 !important
.sales
    img
        100px
.news
    padding-top: 250px
    h2
        font-family: OpenSuns, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        text-transform: uppercase;
        color: #232323;
    p
        font-family: OpenSuns, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #3F3D3D;
    button
        width: 243px;
        height: 62px;
        background: #283B40;
        border: 0;
        padding: 0;
        font-family: OpenSuns, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #FBFBFB;
    img
        width: 285px;
        height: 280px;
.newItem
    display: flex
    justify-content: space-between
    p
        font-family: Roboto
        font-style: normal
        color: #232323 
.block
    width: 285px
    height: 456px
    margin: 0 auto
.buttonOne
    position: relative
    left: 16px
    bottom: -36px
.wrap
    img
        width: 96%