footer
    .container.d-flex.just-cont-spase-bet
        .footer_item.d-flex.just-cont-spase-bet
            .footer_item-compani.m-left-40
                h6 Компания
                ul.footer_item-list
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Вакансии
                    li
                        a(href="#") Акции
            .footer_item-info.m-left-40
                h6 Информация
                ul.footer_item-list
                    li
                        a(href="#") Условия оплаты
                    li
                        a(href="#") Условия доставки
                    li
                        a(href="#") Возврат товара
            .footer_item-programs.m-left-40
                h6 Программа лояльности
                ul.footer_item-list
                    li
                        a(href="#") Подарочные карты
                    li
                        a(href="#") Обучение
        .footer_item
            .footer_item-icon.d-flex.just-cont-spase-eve
                img(src="./images/icon-facebook.svg", alt="facebook")
                img(src="./images/icon-instagram.svg", alt="what")
                img(src="./images/icon-what.svg", alt="what")
                img(src="./images/icon-vk.svg", alt="vk")
            .footer_item-phone.d-flex
                img(src="./images/phone.svg", alt="phone")
                p
                    a(href="tel:88002003000") 8 800 200 3000
            .footer_item-addres
                p г.Нижний новгород,
                p ул.Петрова д.38, БЦ "Богемия"
    .copyright
        p made in Comanda A
        p 2019 год
script(src="../js/jquery-3.4.1.min.js")