header
	.topMenu
		.container.d-flex.just-cont-spase-bet
			.topMenu_item_1.d-flex
				.topMenu_item_1-phone.d-flex
					img(src="./images/phone.svg", alt="phone")
					p 8 800 200 3000
				.topMenu_item_1-contact.d-flex
					a(href="#")
						img(src="./images/location.svg", alt="mark")
					p Контакты
			.topMenu_item_2.d-flex
					a(href="#")
						p Вход
					a(href="#")
						p Регистрация
	.downMenu
		.container
			.downMenu_item.d-flex
				.downMenu_item-logo
					a(href="#")
						img(src="./images/logo2.png", alt="logo")
				.downMenu_item-menu.d-flex.just-cont-spase-eve
					a(href="#") Каталог
					a(href="#") Акции
					a(href="#") Распродажа
					a(href="#") О нас
				.downMenu_item-search
					a(href="#")
						img(src="./images/search.svg", alt="search")
					a(href="#")
						img(src="./images/backet.svg", alt="basket")
	hr.hr