<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/normalize.css")
        link(rel="stylesheet", href="./css/styles.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
    body
        .wrapper
            //header
            include blocks/header
            // end header
            section
                .container
                    .content
                        .content_back_button
                            object(data="./images/arrow.svg", type="image/svg+xml")
                            object(data="./images/nazad.svg", type="image/svg+xml")
                        .content_basket
                            h2 КОРЗИНА
                            .content_basket_prog_menu.d-flex
                                h5 
                                    a(href="#") Сброка заказа
                                object(data="./images/basket-arrow.svg", type="image/svg+xml")
                                h5 Способ доставки
                                object(data="./images/basket-arrow.svg", type="image/svg+xml")
                                h5 Способ оплаты
                                object(data="./images/basket-arrow.svg", type="image/svg+xml")
                                h5 Подтверждение
                                object(data="./images/basket-arrow.svg", type="image/svg+xml")
                            h4 Способ доставки
                        .wrappers
                            .content_basket_delivery(id="tab")
                                input(type="radio" name="table" id="n1" checked)
                                label(for="n1") Самовывоз
                                input(type="radio" name="table" id="n2" )
                                label(for="n2") Доставка
                                .content_basket_delivery-tables(id="table")
                                    .content_basket_delivery-tables-item
                                        h3 Самовывоз
                                        p Адрес: Россия, г.Нижний Новогород, ул.Ильинская д.65,
                                        span работа склада с 8:00 - 19:00
                                        p Дата и время
                                        input(type="text" name="date" placeholder="dd/mm/year")
                                        input(type="text" name="time" placeholder="hh:mm")
                                        h4 Кто заберет
                                        input(type="text" name="firstName" placeholder="Имя")
                                        input(type="text" name="lastName" placeholder="Фамилия")
                                        input(type="text" name="oldName" placeholder="Отчество")                                        
                                    .content_basket_delivery-tables-item
                                        h3 Вкладка №2
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt!
                            .bloks
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime atque sunt quam ea unde incidunt. Deleniti vitae quam eveniet? Recusandae assumenda officiis eum beatae facilis ea necessitatibus alias blanditiis?
            //footer
            include blocks/footer
            //end footer