<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/normalize.css")
        link(rel="stylesheet", href="./css/styles.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
    body
        .wrapper
            //header
            include blocks/header
            // end header
            section
                .container
                    .content
                        .content_back_button
                            a(href="#")
                                img(src="./images/arrow.svg", alt="down")
                            img(src="./images/nazad.svg", alt="nazad")
                        .content_basket
                            h2 КОРЗИНА
                            .content_basket_prog_menu.d-flex
                                a(href="#")
                                    h5 Сброка заказа
                                object(data="./images/basket-arrow.svg", type="image/svg+xml")
                                h5 Способ доставки
                                object(data="./images/basket-arrow.svg", type="image/svg+xml")
                                h5 Способ оплаты
                                object(data="./images/basket-arrow.svg", type="image/svg+xml")
                                h5 Подтверждение
                            h4 Способ доставки
                        .wrappers
                            .content_basket_delivery(id="tab")
                                input(type="radio" name="table" id="n1" checked)
                                label(for="n1") Самовывоз
                                input(type="radio" name="table" id="n2" )
                                label(for="n2") Доставка
                                .content_basket_delivery-tables(id="table")
                                    //Вкладка №1
                                    .content_basket_delivery-tables-item
                                        .content_basket_delivery-tables-item-name
                                            h3 Самовывоз
                                            p Адрес: Россия, г.Нижний Новогород, ул.Ильинская д.65,
                                                span работа склада с 8:00 - 19:00
                                        .content_basket_delivery-tables-item-date.d-flex
                                            h5 Дата и время :
                                            input(type="text" name="date" placeholder="dd/mm/year")
                                            input(type="text" name="time" placeholder="hh:mm")
                                        .content_basket_delivery-tables-item-whois
                                            h5 Кто заберет :
                                            input(type="text" name="firstName" placeholder="Имя")
                                            input(type="text" name="lastName" placeholder="Фамилия")
                                            input(type="text" name="oldName" placeholder="Отчество")
                                        .content_basket_delivery-tables-item-btn
                                            input(type="submit" value="Далее")                                            
                                    //Вкладка №2
                                    .content_basket_delivery-tables-item
                                        .content_basket_delivery-tables-item-name
                                            h3 Доставка
                                        .content_basket_delivery-tables-item-wrapper.d-flex
                                            .content_basket_delivery-tables-item-whois.m-right-60
                                                h5 Кто заберет :
                                                input(type="text" name="firstName" placeholder="Имя")
                                                input(type="text" name="lastName" placeholder="Фамилия")
                                                input(type="text" name="number" placeholder="Номер телефона")
                                                input(type="text" name="dopnumber" placeholder="Доп.номер")
                                            .content_basket_delivery-tables-item-location.m-right-60.m-top-60
                                                .content_basket_delivery-tables-item-city
                                                    h5  Город:
                                                    input(type="text" name="city")
                                                .content_basket_delivery-tables-item-street
                                                    h5 Улица:
                                                    input(type="text" name="street")
                                            .content_basket_delivery-tables-item-dket.m-right-60.m-top-60.d-flex
                                                .content_basket_delivery-tables-item-dom.d-flex
                                                    h5 Доп:
                                                    input(type="text" name="dom").width-50.height-36
                                                .content_basket_delivery-tables-item-dom.d-flex
                                                    h5 Корп:
                                                    input(type="text" name="korp" ).width-50.height-36
                                                .content_basket_delivery-tables-item-dom.d-flex
                                                    h5 Этаж:
                                                    input(type="text" name="etag" ).width-50.height-36
                                                .content_basket_delivery-tables-item-dom.d-flex
                                                    h5 Квартира:
                                                    input(type="text" name="kvr" ).width-50.height-36

                                        .content_basket_delivery-tables-item-btn
                                            input(type="submit" value="Далее")   
            //footer
            include blocks/footer
            //end footer