<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link rel="stylesheet" href="./css/normalize.css"/>
        link(rel="stylesheet", href="./css/styles.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
        <link rel="stylesheet" href="./css/style.css"/>
        title Document
    body    
            //Код старницы писал Александр Марков
            //header
            include blocks/header
            // end header
            // content
            <div class="section-contact-information d-flex">
                <div class="wrap">
                    <h1>Контактные данные</h1>
                    <div class="snippets-map d-flex just-space-between">
                        <div class="map">
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A727501b7cf29ba05db6460242a3792ba2159a3c6e3bff4bac021a496a8df3729&amp; lang=ru_RU&amp;scroll=true"></script>
                        </div>
                        <div class="search-snippets__list d-flex just-space-between flex-direction-column ">
                            <div class="search-snippets__i ">
                                <img src="images/geolocation_symbol.svg" alt="" width="30px" height="43px">
                                <h2>Основной офис:</h2>
                                <p>142600 Нижегородская область, г.Нижний новгород, ул.Львовская д.2, БЦ “Богемия”</p>
                                <a href="" class="btn">Показать на карте</a>
                            </div>

                            <div class="search-snippets__i">
                                <img src="images/geolocation_symbol.svg" alt=""width="30px" height="43px">
                                <h2>Склад:</h2>
                                <p>142600 Нижегородская область, г.Нижний новгород, ул.Кузбаская д.7 </p>
                                <a href="" class="btn">Показать на карте</a>
                            </div>
                        </div>
                    </div>
                    <div class="data__list d-flex just-space-between ">
                        <div class="data__i">
                            <div class="data__i-title d-flex "><img src="images/bill.svg" alt=""><h2>ООО «i - Posud»</h2></div>
                            <p>ИНН: 5405270212</p>
                            <p>КПП: 546050001</p>
                            <p>ОГРН: 1045401912060</p>
                            <p>Расчетный счет: 40702810600290002715 в ВТБ24(ПАО) г. Нижний Новгород</p>
                            <p>Корр. счет: 30101810400000000783</p>
                            <p>БИК: 045004783</p>
                            <p>Юридический адрес: 142600 Нижегородская область, г.Нижний новгород, ул.Петрова д.38, БЦ “Богемия”  </p>
                        </div>
                        <div class="data__i d-flex  flex-direction-column">
                            <div class="call-answer d-flex flex-direction-column">
                                <div class="data__i-title d-flex "><img src="images/call-answer.svg" alt=""><h2>Офисные телефоны</h2></div>
                                <a href="">8 (383) 325-00-33</a>
                                <a href="">8 (800) 200 30 00</a>
                                <a href="">8 (800) 259 30 99</a>
                            </div>
                            <div class="email">
                                    <div class="data__i-title d-flex "><img src="images/email.svg" alt=""><h2>Корпоративный  EMAIL:</h2></div>
                                    <p>i-posud@ip-yandex.ru</p>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            //end content
            //footer
            include blocks/footer
            //end footer